
<div class="profile-card-container">
  <mat-card  class="profile-card">
    <mat-card-title-group>
      <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="placeholder">
      <mat-card-title>{{user$?.displayName}}</mat-card-title>
      <mat-card-subtitle>User</mat-card-subtitle>
    </mat-card-title-group>
    <!-- <button mat-button>Logout</button> -->
  </mat-card>
</div>

<div class="content">
  <h1>
    Forms
  </h1>
  <mat-action-list>
    <div mat-subheader>Unfilled forms</div>
    <mat-list-item *ngFor="let form of unfilledForms" [routerLink]="['/form', form.docId]">
      <div mat-line>{{form.formTitle}}</div>
      <div mat-line>{{form.authorName}}</div>
      <div mat-list>{{form.createdAt.toDate() | date}}</div>
    </mat-list-item>
    <p mat-list *ngIf="unfilledForms.length == 0" class="text-center">There are none</p>
    <div mat-subheader>Filled forms</div>
    <mat-list-item *ngFor="let form of filledForms">
      <div mat-line>{{form.formTitle}}</div>
      <div mat-line>{{form.authorName}}</div>
      <div mat-list>{{form.createdAt | date}}</div>
    </mat-list-item>
    <p mat-list *ngIf="filledForms.length == 0" class="text-center">There are none</p>
  </mat-action-list>
</div>


