/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
    display: block;
    margin: auto;
    background: #eceff1;
    padding: 54px;
    border-radius: 36px 36px 0px 0px;
}

.form-container mat-form-field {
    width: 100%;
}

.form-container button {
    width: 80%;
    padding: 3px;
}

.img-container img {
    display: block;
    margin: auto;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 36px;
}

.margin-bottom {
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

.bottom-align {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
