<div style="padding: 20px;">
  <div class="form-title">
    <button mat-icon-button color="primary" aria-label="Back" routerLink="">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1></h1>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">

    <div class="form-header">
      <h1>{{this.doc?.formTitle}}</h1>
      <p>{{this.doc?.formDesc}}</p>
    </div>

    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form" [docId]="doc!.docId"></app-question>
    </div>


    <div class="margin-top">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      <button mat-button color="primary" type="reset">Clear Form</button>
    </div>
  </form>


  <!--<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
  -->

</div>
