<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchDefault [ngSwitch]="question.controlType" appearance="fill">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>

      <input matInput (blur)="onSave()" *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

      <mat-select (blur)="onSave()" *ngSwitchCase="'dropdown'" [id]="question.key" [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>

      <mat-error *ngIf="!isValid">
        {{question.label}} is required
      </mat-error>

    </mat-form-field>

    <mat-radio-group *ngSwitchCase="'radio'" class="radio-group" [id]="question.key" [formControlName]="question.key">
      <label class="radio-group-label">{{question.label}}</label>
      <mat-radio-button (click)="onSave()" *ngFor="let opt of question.options" class="radio-button" [value]="opt.key">{{opt.value}}</mat-radio-button>
    </mat-radio-group>

    <div *ngSwitchCase="'checkbox'" class="radio-group" [id]="question.key" [formGroupName]="question.key">
      <label class="radio-group-label">{{question.label}}</label>
      <p *ngFor="let opt of question.options"><mat-checkbox (click)="onSave()" [formControlName]="opt.key">{{opt.value}}</mat-checkbox></p>
    </div>

  </div>

  <!--<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
